.App {
  font-family: 'Bebas Neue', cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo{
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 3cm;
  
}

.App-header{
  /*background-color:rgba(255, 255, 255, 0.7);*/
  background-color: black;
  color: white;
  font-size: larger;
  text-align: center;
}

.nav-bar{
  list-style-type: none;
  text-align: center;
}

.items{
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

a{
  color: white;
  text-decoration: none;
  padding-left: 4vh;
}

li a:hover{
  color: RGB (157,199,59);
}

.join{
  display: flex;
  text-align: end;
}